@import url(https://fonts.googleapis.com/css?family=Glegoo);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
body{
    display: flex;
    flex-direction: column;
    background: #0C2D48;
    justify-content: center;
    align-items: center;

}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    color: #B1D4E0; /*#29EEA0;*/
    font-family: 'Mochiy Pop P One', sans-serif;
    /*font-family: 'Glegoo', serif;*/
    text-shadow: 4px 4px 4px #0E86D4;
    font-size: 250%;
    font-weight: bold;
    padding: 2%;
    width: 60%;
}


#quote-container{
    background: #B1D4E0;
    color: #145DA0;
    font-family: 'Glegoo', serif;
    padding: 3%;
    font-size: 180%;
    font-weight: bold;
    width: 60%;
    min-height: 250px;
    border-radius: 6px;


}
